body {padding-top: 50px; width:100%; color:#666666;}
a { cursor:pointer; }
/*.theme-showcase{max-width:100%;}*/
.cellOptionButton {float:right; }
/* Tags */
#rightHandBox {margin-top:10px; padding:5px; }
.group { background-color:#f8f8f8; }
.activeTag { text-decoration:underline; }

.namecell, .usercell {
    word-wrap: break-word;
}

/* Fixing uncollapsed navbar inline*/
@media (max-width: 767px) {
    .navbar-collapse.collapse.in{ clear:left; }
    .navbar-collapse.collapsing{ clear:left; }
}

/* pull-right on all except xs devices */
@media (min-width: 992px) {
    .pull-right-sm {
        float: right;
    }

}
@media (max-width: 992px) {
    .namecell, .usercell { max-width:360px; }
}
@media (max-width: 700px) {
    .namecell, .usercell { max-width:250px;}
}
@media (max-width: 500px) {
    .namecell, .usercell { max-width:170px;}
}
@font-face {
    font-family: 'passwordshow';
    src:url('../pw.ttf');
}
.theme-showcase {
    margin-top:10px !important;
}
/*Login form */
#loginform, #signupform{
    max-width:300px;
}
#loginform #user { 
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;  
    font-size: 16px; 
    height: auto;
}
#loginform #pwd {
    margin-bottom: 10px; 
    border-top-left-radius: 0; 
    border-top-right-radius: 0;
    font-size: 16px; 
    height: auto;
}
.footer {
    color: #777;
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.textbold {
    font-weight:bold;
}
.textred {
    color:red;
}
/* Detail View */
#details {
    height:230px;
    background:#efefef;
    overflow:auto;
}
.blocklabel{
    display:block;
    clear:both;
}
/* Nav */
.navbar-toggle{
    margin-left:10px;
}
#navbar{
    min-width:100px;
}
#tagCloud p {
    margin-bottom:0;
}
#orderTags, #orderTagsDisable{
    padding-left:10px;
}
/* dialogs */
#backuppwdpb{
    width:0%;
}
#fieldsz{
    height:100px;
}
